#skills ul li {
    min-height: 5rem;
}

.empty-top {
    margin-top:-2px
}

#experience img {
    margin-right: 10px !important;
}

@media (min-width: 962px) {
    #skills ul li {
        min-height: 100px;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    #skills ul li {
        font-size: 14px;
    }
}
@media (max-width: 425px) {
    #skills ul li {
        font-size: 12px;
    }
}

